[DEFAULT]
serviceurl=http://tethys/ClientIntercom_DEV_MAC_UATDB/GetDataFromDbService.svc?singleWsdl

[QADirect]
user=tqa_user
password=tqa_user
host=tqaprod.axiomainc.com
database=qai

[MarketData]
user=MarketDataLoader
password=mdl1234
host=prod_mac_mkt_db
database=MarketData
alias=prod_mac_mkt_db_ny

[ErrorLogDB]
user=PROD-US1-DGMonitor
password=dgm1234
host=prod-mac-gateway
database=DataGatewayPROD

[ErrorCategories]
ErrorDiagnosis = 'Not available yet','Asset is not alive', 'Security is Expired', 'Please contact Axioma Development', 'Asset can be extracted now'
ErrorMessage = 'Requested as a dependency of the $PATTERN data set', 'Asset not in'

# This is Saturn
[MACDevDB]
user=DataGenOpsFI
password=DataGenOpsFI1234
database=MarketData
host=DEV_MAC_DB_NY

# This is production
[MACProdDB]
user=DataGenOpsFI
password=DataGenOpsFI1234
database=MarketData
host=PROD_MAC_MKT_DB

[PhoenixMSSql]
user=BulkLoader
password=bld2011
host=tqaprod

[CurvesDBPROD]
EquityMarketDB=MarketDB.PROD
EquityModelDB=ModelDB.PROD
MACDB=CurvesDB.PROD

[CurvesDB.PROD]
user=DataGenOpsFI
password=DataGenOpsFI1234
database=MarketData
host=PROD_MAC_MKT_DB

[CurvesDBDEV]
user=DataGenOpsFI
password=DataGenOpsFI1234
host=DEV_MAC_DB_NY
database=MarketData

[CurvesDB.DEV]
user=DataGenOpsFI
password=DataGenOpsFI1234
host=DEV_MAC_DB_NY
database=MarketData

[CurvesDBDEVTEST]
EquityMarketDB=MarketDB.PROD
EquityModelDB=ModelDB.PROD
MACDB=CurvesDB.DEVTEST

[CurvesDB.DEVTEST]
user=DataGenOpsFI
password=DataGenOpsFI1234
database=MarketData
host=devtest_mac_db_ny

[MarketDB.PROD]
user=marketdb_global
password=marketdb_global
port=1600
host=cassprod
sid=glprod

[ModelDB.PROD]
user=modeldb_global
password=modeldb_global
port=1600
host=cassprod
sid=glprod

[MACWebService]
user=PROD-US1-DGMonitor
password=dgm1234
host=prod-mac-gateway
database=DataGatewayPROD
port=8005

[SFTP]
host=xfer.axiomainc.com
user=bimcor
password=M02t43a1
incomingDIR=upload
payloadFile=Payload.csv
port = 22

[ErrorLogDBUAT]
user=PROD-US1-DGMonitor
password=dgm1234
host=uat-mac-gateway
database=DataGatewayPRODPREVIEW

[DataGatewayPROD]
MarketDataDB=Database.MarketData.PROD
Service=DataGateway.Service.PROD
LogDB=Database.Log.PROD

[Database.MarketData.PROD]
user=MarketDataLoader
password=mdl1234
host=prod_mac_mkt_db
database=MarketData
alias=prod_mac_mkt_db_ny

[Database.Log.PROD]
user=PROD-US1-DGMonitor
password=dgm1234
host=prod-mac-gateway
database=DataGatewayPROD

[DataGateway.Service.PROD]
host=prod-mac-gateway
port=8005

[DataGatewayPROD2]
MarketDataDB=Database.MarketData.PROD2
Service=DataGateway.Service.PROD2
LogDB=Database.Log.PROD2

[Database.MarketData.PROD2]
user=MarketDataLoader
password=mdl1234
host=prod_mac_mkt_db
database=MarketData

[Database.Log.PROD2]
user=PROD-US1-DGMonitor
password=dgm1234
host=prod-mac-gateway
database=DataGatewayPROD

[DataGateway.Service.PROD2]
host=prod-mac-gateway2
port=8005

[DataGatewayUAT]
Service=DataGateway.Service.UAT
MarketDataDB=Database.MarketData.UAT
LogDB=Database.Log.UAT

[Database.Log.UAT]
user=PROD-US1-DGMonitor
password=dgm1234
database=DataGatewayPRODPREVIEW
host=uat-mac-gateway

[Database.MarketData.UAT]
user=MarketDataLoader
password=mdl1234
host=prod_mac_mkt_db
database=MarketData
alias=prod_mac_mkt_db_ny

[DataGateway.Service.UAT]
host=uat-mac-gateway
port=8005

[DataGatewayDEV]
MarketDataDB=Database.MarketData.DEV
Service=DataGateway.Service.DEV
LogDB=Database.Log.DEV

[Database.MarketData.DEV]
user=MarketDataLoader
password=mdl1234
host=prod_mac_mkt_db
database=MarketData

[Database.Log.DEV]
user=DataGatewayMonitor
password=DataGatewayMonitor
host=PANDORA\DEV_MAC 
database=MarketDataLogsDEV

[DataGateway.Service.DEV]
#host=devtest_mac_db_ny
host=mimas
port=8005

[TriageExtractionErrorsMacService]
host = tethys
port = 80

[BIMCOR-SFTP]
host=xfer.axiomainc.com
user=bimcor
password=M02t43a1
incomingDIR=upload
payloadFile=Payload.csv
port = 22

[Infinity Q-SFTP]
host=xfer.axiomainc.com
user=infinityq
password=ifqcapm
incomingDIR=upload
payloadFile=Payload.csv
port = 22
