[handlers]
keys=logfile,stdout,stderr

[formatters]
keys=standard

[loggers]
keys=root

[formatter_standard]
format=%(asctime)s %(levelname)s %(message)s

[handler_logfile]
class=FileHandler
formatter=standard
level=INFO
args=('process.log', 'a')

[handler_stdout]
class=StreamHandler
level=INFO
formatter=standard
args=(sys.stdout,)

[handler_stderr]
class=StreamHandler
level=ERROR
formatter=standard
args=(sys.stderr,)

[logger_root]
level=INFO
handlers=stdout,logfile,stderr
